body { background-image: url("https://www.cloud4c.com/ksa/sites/ksa/files/2024-01/Cybersecurity-strategy-services-cloud4c-webpage-1.webp");}
h1, h6{
color: white; text-align:center; }
h1 {text-decoration-line: underline; font-family: Arial; }